.table-container {
  width: 100%;
  overflow-x: auto;
  margin-bottom: var(--spacing-08);
}

.users-table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0 var(--spacing-11);
  border-collapse: collapse;
}

.users-table__row {
  border-bottom: 1px solid var(--gray-04);
  transition: all 0.2s;
}

.users-table__row--selected {
  background-color: var(--gray-04);
}

.users-table__row__item {
  font-size: var(--fs-04);
  white-space: nowrap;
  padding: var(--spacing-11) var(--spacing-10);
}

.users-table__row__item input[type="checkbox"] {
  height: var(--spacing-09);
  width: var(--spacing-09);
  transform: scale(1.1);
  accent-color: var(--primary-dark);
}

.users-table__row--header .users-table__row__item {
  text-align: left;
  color: var(--text-01);
}

.user-table__row__item__action-container {
  display: flex;
  gap: var(--spacing-10);
}

.users-table__row__action-btn {
  display: flex;
  gap: var(--spacing-11);
  align-items: center;
  justify-content: center;
  padding: var(--spacing-11) var(--spacing-11);
  background-color: transparent;
  border-radius: var(--spacing-11);
  text-transform: capitalize;
  cursor: pointer;
}

.users-table__row__action-btn span {
  font-size: var(--spacing-08);
  transition: none;
}

.users-table__row__action-btn--edit {
  color: var(--primary-dark);
}

.users-table__row__action-btn--delete {
  border: 1px solid transparent;
  color: var(--gray-02);
}

/* States */
.users-table__row:not(.users-table__row--selected):hover {
  background-color: var(--gray-05);
}

.users-table__row.users-table__row--header:hover {
  background-color: transparent;
}

.users-table__row__action-btn--edit:hover {
  background-color: var(--primary-main);
  color: var(--text-light);
}

.users-table__row__action-btn--delete:hover {
  border-color: var(--danger-main);
  color: var(--danger-dark);
}
