.dialog-container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-09);
  width: 90%;
  background-color: #fff;
  padding: var(--spacing-09) var(--spacing-09);
  border-radius: var(--spacing-11);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: all .5s;
}

.dialog__header {
  display: flex;
  justify-content: space-between;
}

.dialog__header__heading {
  font-size: var(--fs-03);
}

.dialog__header__btn {
  background-color: transparent;
  border-radius: 50%;
  padding: var(--spacing-10);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
}

.dialog__content__item {
  display: flex;
  flex-direction: column;
  
}

.dialog__content__item label {
  font-size: var(--fs-05);
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: var(--spacing-11);
}

.dialog__content__item input {
  font-size: var(--fs-04);
  padding: var(--spacing-10);
}

.dialog__actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-10);
}

.dialog__actions__btn {
  font-size: var(--fs-04);
  padding: var(--spacing-10) var(--spacing-09);
  border-radius: var(--spacing-11);
  cursor: pointer;
}

.dialog__actions__btn--save {
  background-color: var(--primary-main);
  color: var(--text-light);
}

.dialog__actions__btn--cancel {
  background-color: var(--gray-05);
}

.dialog__actions__btn--save:hover,
.dialog__actions__btn--save:active,
.dialog__actions__btn--save:focus
 {
  background-color: var(--primary-dark);
}

.dialog__actions__btn--cancel:hover,
.dialog__actions__btn--cancel:active,
.dialog__actions__btn--cancel:focus
 {
  background-color: var(--gray-04);
}

.dialog__header__btn:hover,
.dialog__header__btn:active,
.dialog__header__btn:focus {
  background-color: var(--gray-04);
}

