:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table-container {
  overflow-x: auto;
}

.users-table__row__item {
  font-size: 1.6rem;
  white-space: nowrap;
}

.users-table__row__item [type='checkbox'] {
  height: 15px;
  width: 15px;
} 

.users-table__row--header .users-table__row__item {
  text-align: left;
}

.pagination-list {
  display: flex;
  justify-content: center;
}

.pagination-list__item {
  list-style-type: none;
  font-size: 1.5rem;
  padding: 10px;
  background-color: #ddd;
  cursor: pointer;
}

.pagination-list__item--active {
  background-color: #999;
}

.pagination-list__item--icon > span {
  font-size: 2rem;
}

.pagination-list__item--disabled {
  color: #999;
  cursor: not-allowed;
}